[submodule "gym-doom"]
	path = gym-doom
	url = https://github.com/Adrianval96/gym-doom
[submodule "workdir/Doom/ViZDoom"]
	path = workdir/Doom/ViZDoom
	url = https://github.com/mwydmuch/ViZDoom
[submodule "workdir/gym"]
	path = workdir/gym
	url = https://github.com/openai/gym
[submodule "workdir/ia-course"]
	path = workdir/ia-course
	url = https://github.com/Adrianval96/ia-course
[submodule "workdir/RubiksCubeAI"]
	path = workdir/RubiksCubeAI
	url = https://github.com/Adrianval96/RubiksCubeAI/
[submodule "workdir/Submodules/ray"]
	path = workdir/Submodules/ray
	url = https://github.com/ray-project/ray
[submodule "workdir/Submodules/tutorial"]
	path = workdir/Submodules/tutorial
	url = https://github.com/ray-project/tutorial
[submodule "workdir/Submodules/atari"]
	path = workdir/Submodules/atari
	url = https://github.com/gsurma/atari
